*{
    margin: 0;
    padding: 0;
}
.box{
    width: 10em;
    height: 10em;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins";
    font-size: 1.3em;
    position: relative;
}