*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#EEEEEE ;
}
.main{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:8em;
        
}
.heading{
    font-size: 3em;
    font-weight: 500;
    color:#3A4750 ;
    
}
form{
    margin-top: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#303841 ;
    width: 27em;
    height: 33em;
    color: white;
}
label{
    font-size: 2em;
    
}
input{
    width: 7em;
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    background-color:#00ADB5 ;
    color: white;
    font-size: 1.5em;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    margin-top: .5em;
    cursor: pointer;
}
.total{
    font-size: 2em;
    margin-top: 15px;
    color: #EEEEEE;

}