body{
    background-color: #EEEEEE;
    font-family: "Poppins";
}

h1{
 color: #76ABAE;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 15vw;
}
form{
    height: 21vw;
    width: 25vw;
    background-color: #31363F;
    color: white;
    border-radius: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 10px 10px 5px #222831;
}
.textBox{
    text-align: center;
    height: 1.5vw;
    width: 10vw;
    font-size: 1.3vw;
}

label{
    font-size:1.3vw ;
}
button{
    height: 3vw;
    width: 7vw;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2vw;
    background-color: #76ABAE;
    border: 0;
    color: white;
}
.result{
    font-size: 1.2vw;
}