body{
    background-color: #EEEEEE;
}
.container{
    height: 100%;
    width: 100%;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #3A4750;
}
button{
    font-size: 1.3rem;
    margin-top: 2rem;
    height: 3rem;
    width: 7rem;
    background-color: #00ADB5;
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
label{
    margin-right: 2rem;
}
input{
    height: 2rem;
    width: 8rem;
    text-align: center;
    font-size: 2rem;
}
.diceResult{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.diceImages{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.diceImages img{
    width: 20rem;
}